<h2>Recipe Details</h2>
<p>Name: {{recipeDetails.name}}</p>
<p>Instructions: {{recipeDetails.instructions}}</p>
<p>Source: {{recipeDetails.URL}}</p>
<p>Preparation Time: {{recipeDetails.prepTime}}</p>
<p>Cook Time: {{recipeDetails.cookTime}}</p>
<p>Total Time: {{recipeDetails.totalTime}}</p>
<p>Type of Meal: {{recipeDetails.typeOfMeal}}</p>
<p>Type of Recipe: {{recipeDetails.typeOfRecipe}}</p>
<p>Portion: {{recipeDetails.portions}}</p>
<p>Ingredients: {{#each recipeDetails.ingredients}} <li>{{this}}</li>{{/each}}</p>
<p>Created By: {{recipeDetails.createdBy.username}}</p>
<p>Average Rating: {{recipeDetails.avgRating}} <span>| Number of Ratings: {{recipeDetails.ratings.length}}</span></p>
<p>
<form action="{{this.recipeDetails._id}}/save-rating" method="POST">
  <label for="rating-select">Rate this Recipe</label>
  <select name="newRating" id="rating-select">
    {{#each possibleScores}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>

  <button class="save-button" type="submit">Save</button>

  {{#if selfRatingError}}<span>You can't rate your own recipe!</span>{{/if}}
</form>
</p>

<form action="{{this.recipeDetails._id}}/save-bookmark" method="POST">
  <p>Bookmark this Recipe</p>
  <button class="save-button" type="submit">Save</button>
</form>

<form action="{{this.recipeDetails._id}}/remove-bookmark" method="POST">
  <p>Remove Bookmark for this Recipe</p>
  <button class="save-button" type="submit">Remove</button>
</form>

<p><a href="{{this.recipeDetails._id}}/edit">Edit</a> </p>

<form action="/recipes/{{this.recipeDetails._id}}/delete" method="POST">
  <button>Delete</button>

</form>