<h2>Recipe Details</h2>
<p>Name: {{recipeDetails.name}}</p>
<p>Instructions: {{recipeDetails.instructions}}</p>
<p>Source: {{recipeDetails.URL}}</p>
<p>Preparation Time: {{recipeDetails.prepTime}}</p>
<p>Cook Time: {{recipeDetails.cookTime}}</p>
<p>Total Time: {{recipeDetails.totalTime}}</p>
<p>Type of Meal: {{recipeDetails.typeOfMeal}}</p>
<p>Type of Recipe: {{recipeDetails.typeOfRecipe}}</p>
<p>Portion: {{recipeDetails.portions}}</p>
<p>Ingredients: {{#each recipeDetails.ingredients}} <li>{{this}}</li>{{/each}}</p>

<p>Created By: {{this.user.username}}</p>


<p>Current rating: {{recipeDetails.avgRating}}</p>

<p>
<form action="{{this.recipeDetails._id}}/save-rating" method="POST">
  <label for="rating-select">Add rating</label>
  <select name="newRating" id="rating-select">

    {{#each possibleScores}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>

  <button class="save-button" type="submit">Save</button>
</form>
</p>

<p><a href="{{this.recipeDetails._id}}/edit">Edit</a> </p>

<form action="/recipes/{{this.recipeDetails._id}}/delete" method="POST">
  <button>Delete</button>

</form>