{{> navigationalBar}}

<div class="main-recipe-container">

  <div>
    <h2 class="recipe-details-name">{{recipeDetails.name}}</h2>
    <p>Created on {{date}} by {{recipeDetails.createdBy.username}}</p>
    <p>Avg. Rating: {{recipeDetails.avgRating}} (from {{recipeDetails.ratings.length}} votes)</p>
  </div>

  <div>
    <img
      src="{{#if recipeDetails.recipeImage}}{{recipeDetails.recipeImage}}{{else}}/images/ella-olsson-7EhPbdAQG-s-unsplash.jpg{{/if}}"
      class="img-fluid">
  </div>

  <div>
    <p><strong>Meal Type</strong>: {{recipeDetails.typeOfMeal}}</p>
    <p><strong>Recipe Type</strong>: {{recipeDetails.typeOfRecipe}}</p>
    <p><strong>Difficulty</strong>: {{recipeDetails.level}}</p>
    <p><strong>Serves</strong>: {{recipeDetails.portions}}</p>
  </div>

  <div class="icons-container">
    <p><img src="/images/cutting-board.png" class="recipe-details-icon"><strong>Prep</strong>:
      {{recipeDetails.prepTime}}</p>
    <p><img src="/images/cooking.png" class="recipe-details-icon"><strong>Cook</strong>: {{recipeDetails.cookTime}}</p>
    <p><img src="/images/chef-hat.png" class="recipe-details-icon"><strong>Total</strong>: {{recipeDetails.totalTime}}
    </p>
  </div>

  <div class="instructions-box">
    <h6>INGREDIENTS:</h6>
    <ul>{{#each recipeDetails.ingredients}} <li>{{this}}</li>{{/each}}</ul>
    <h6>INSTRUCTIONS:</h6>
    <p>{{recipeDetails.instructions}}</p>
  </div>

  <p>Find the <strong>original recipe</strong> <a href="{{recipeDetails.URL}}" class="source-link"
      target="_blank">here</a>!</p>

  <br>
  <div class="card card-border">
    <div class="card-body">

      <form action="{{this.recipeDetails._id}}/save-rating" method="POST">
        <label for="rating-select">Rate this Recipe</label>
        <select name="newRating" id="rating-select">
          {{#each possibleScores}}
          <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
        <button class="btn btn-light btn-sm" type="submit">Save</button>
        {{#if selfRatingError}}<p class="alert alert-danger mt-3" role="alert">You can't rate your own recipe!</p>
        {{/if}}
      </form>
      <form action="/user/shopping-list/{{this.recipeDetails._id}}/add" method="POST">
        Add Recipe to Your Shopping List
        <button class="btn btn-light btn-sm" type="submit">Add</button>
      </form>

    </div>
  </div>

  <div class="card card-border">
    <div class="card-body">

      <form action="{{this.recipeDetails._id}}/save-bookmark" method="POST">
        Bookmark this Recipe
        <button class="btn btn-light btn-sm" type="submit">Save</button>
      </form>

      <form action="{{this.recipeDetails._id}}/remove-bookmark" method="POST">
        Remove Bookmark for this Recipe
        <button class="btn btn-light btn-sm" type="submit">Remove</button>
      </form>

    </div>
  </div>

  <div class="card card-border">
    <div class="card-body">
      <p>Manage Your Recipe</p>
      <div class="buttons-flex">
        <form action="{{this.recipeDetails._id}}/edit">
          <button class="btn btn-info btn-sm" type="submit">Edit Recipe</button>
        </form>
        {{!-- <p><a href="{{this.recipeDetails._id}}/edit">edit</a></p> --}}

        <form action="/recipes/{{this.recipeDetails._id}}/delete" method="POST">
          <button class="btn btn-danger btn-sm">Delete Recipe</button>
        </form>
      </div>
      {{#if errorMessage}}<p class="alert alert-danger mt-3" role="alert">{{errorMessage}}</p>{{/if}}
      {{#if errorMessage1}}<p class="alert alert-danger mt-3" role="alert">{{errorMessage1}}</p>{{/if}}
    </div>
  </div>

</div>

{{> footer}}