{{> navigationalBar}}

<div class="main-recipe-container">

  <h2 class="form-header">Edit Your Recipe</h2>

  <form action="/recipes/{{recipeToEdit.id}}/edit" method="post">

    <div class="form-group">
      <label for="input-file">Upload your recipe photo</label>
      <input type="file" class="form-control" name="image" id="input-file1" value="{{recipeToEdit.recipeImage}}" />
    </div>

    <div class="form-group">
      <label for="name-input">Name:</label>
      <input type="text" class="form-control" name="name" id="name-input" value="{{recipeToEdit.name}}" />
    </div>

    <div class="form-group">
      <label for="source-input">Source:</label>
      <input type="text" class="form-control" name="URL" id="source-input" value="{{recipeToEdit.URL}}" />
    </div>

    <div class="form-group">
      <label for="meal-type">Type of Meal:</label>
      <select multiple class="form-control" name="typeOfMeal" id="meal-type">
        {{#each MealType}}
        <option value="{{this.name}}" {{#if this.selected}} selected = "selected" {{/if}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="recipe-type">Type of Recipe:</label>
      <select multiple class="form-control" name="typeOfRecipe" id="recipe-type">
        {{#each RecipeType}}
        <option value="{{this.name}}" {{#if this.selected}} selected = "selected" {{/if}}> {{this.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="portions-input">Serves:</label>
      <input type="number" class="form-control" name="portions" id="portions-input" min="1"
        value="{{recipeToEdit.portions}}" />
    </div>

    <div class="form-group">
      <label for="prepTime-input">Preparation Time:</label>
      <input type="text" class="form-control" name="prepTime" id="prepTime-input" value="{{recipeToEdit.prepTime}}" />
    </div>

    <div class="form-group">
      <label for="cookTime-input">Cooking Time:</label>
      <input type="text" class="form-control" name="cookTime" id="cookTime-input" value="{{recipeToEdit.cookTime}}" />
    </div>

    <div class="form-group">
      <label for="totalTime-input">Total Time:</label>
      <input type="text" class="form-control" name="totalTime" id="totalTime-input"
        value="{{recipeToEdit.totalTime}}" />
    </div>

    <div class="form-group">
      <label> Ingredients:</label>
      {{#each recipeToEdit.ingredients}}
      <input type="text" class="form-control" name="ingredients" value="{{this}}" />
      {{/each}}
    </div>

    <div class="form-group">
      <label for="instructions-input">Instructions:</label>
      <textarea class="form-control" name="instructions" id="instructions-input" cols="30"
        rows="4">{{recipeToEdit.instructions}}</textarea>
    </div>

    <div class="form-group">
      <label for="level-input">Level:</label>
      <select class="form-control" name="level" id="level-input">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary btn-sm">Update Recipe</button>

  </form>
</div>