{{> navigationalBar}}

<div>
    <h2>Recipes</h2>

    <form method="get" action="/recipes">
    <button type="submit" class="btn btn-primary">Return to Homepage</button>
</form>


    {{!-- <h2>Filter recipes</h2>
    <form action="/filter" method="get">
        Type of meal:
        <select name="typeOfMeal" multiple>
            {{#each MealType}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        Type of recipe:
        <select name="typeOfRecipe">
            {{#each RecipeType}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <br>
        <button type="submit">Filter</button>
    </form> --}}




    {{#if this.recipesFromDB}}

    {{#each recipesFromDB }}
    <div>
        <p>Name: {{this.name}}</p>
        <img src="{{this.recipeImage}}">
        <p><a href="/recipes/{{this._id}}">Go to Recipe</a></p>
    </div>
    {{/each}}


    {{else}}
    <p class="alert alert-danger mt-3" role="alert">There are no results matching your query!</p>
    {{/if}}
</div>

{{> footer}}