{{> navigationalBar}}

<h1>Welcome {{username}} !</h1>

<h2>Search recipes</h2>
<form action="/search" method="get">
  <input type="text" name="searchInput" placeholder="Search..">
  <button type="submit">Search</button>

</form>

<h2>Filter recipes</h2>
<form action="/filter" method="get">
  Type of meal:
  <select name="typeOfMeal" multiple>
    {{#each MealType}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
   Type of recipe:
  <select name="typeOfRecipe">
    {{#each RecipeType}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <br>
  <button type="submit">Filter</button>
</form>

{{!-- this doesn't work --}}
{{!-- {{#if noResults}}
 <p>There are no results matching your filters!</p>
   {{/if}} --}}

{{#each recipes}}
<p>{{this.name}}</p>
<p>{{this.image}}</p>
<p><a href="/recipes/{{this._id}}">Go to Recipe</a></p>

{{/each}}

<p><a href="/create"> Create Recipe</a></p>