{{> navigationalBar}}

<div class="profile-image">
  <img src="{{#if this.user.profileImg}}{{this.user.profileImg}}{{else}}/images/user.png{{/if}}">
</div>
<div>
  <h3>Hello {{this.user.username}}!</h3>
  <a href="/user/profile/edit">Edit Profile</a> <br>
  <a href="/user/bookmarks">Your Bookmarks</a> <br>
  <a href="/user/shopping-list">Your Shopping List</a>

</div>
<br>
<div>
  <form action="/user/profile" method="GET">

    <input type="text" name="query" placeholder="Find recipes..." value="{{this.query}}">
    <button type="submit" id="search-button">Search</button>
  </form>
  <br>
  
  <h4>Filter recipes</h4>
  <form action="/user/profile" method="GET">
    Type of meal:
    <select name="typeOfMeal" multiple>
      {{#each this.MealType}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    Type of recipe:
    <select name="typeOfRecipe">
      <option value="">none</option>
      {{#each this.RecipeType}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <button type="submit">Filter</button>
  </form>

</div>

<div>
  <h2>Your recipes</h2>

  {{#if this.recipes}}

  {{#each this.recipes}}
  <p>{{this.name}}</p>
  <img src="{{this.recipeImage}}">
  <p><a href="/recipes/{{this._id}}">Go to Recipe</a></p>
  {{/each}}

  {{else}}
  <p>{{#if filterQuery}}There are no results matching your query!{{else}}You haven't created any recipes yet!{{/if}}</p>
  {{/if}}
</div>